img#note {
    float: left;
    margin-right: 20px;
}

div#header-txt {
    margin-top: 40px
}

footer {
    border-top: 1px solid #E5E5E5;
    margin-top: 50px;
    padding: 6px 0px 4px 0px;
    text-align: center;
}

header {
    margin-top: 30px;
    margin-bottom: 30px;
}

body {
    padding-top: 60px;
}

button.btn.btn-mini.btn-link {
    border-style: none;
}

div.del {
    margin-top: 20px;
}

#add-note {
    background-color: #f4f5f4;
    padding-top: 10px;
    padding-bottom: 15px;
    padding-left: 15px;
    margin-top: 5px;
}

div.note {
    padding-left: 5px;
}

div.note:hover {
    background-color: #f4f5f4;
}

legend {
    margin-bottom: 10px;
}

.affix {
    top: 45px;
    width: 285px;
}